<mat-card>
    <mat-card-content>
        <p>Pressure Logic is a locally owned, operated and fully insured pressure washing company based in Lyndhurst Ohio.  We specialize in residential pressure washing, soft washing and roof cleaning.</p>
        <p>Our service range includes, but is not limited to, all of Cuyahoga County, Geauga County, Medina County, Summit County, Portage County and Lake County.</p>
        <button mat-button routerLink="/request-quote" color="primary" class="request-button">Request a quote today!</button>
    </mat-card-content>
</mat-card>