div {
    margin-top: 15%;
    display: flex;
    justify-content: center;
}

mat-card-title {
    text-align: center;
    line-height: 1.25;
    color: #FFFFFF;
    background-color: #3f51b5;
}

mat-card {
    margin: .75rem .25rem;
    background-color: #3f51b5;
}