<mat-toolbar role="heading">
  <button class="menu-button" mat-icon-button color="primary" aria-label="menu icon" (click)="toggleSideNav(drawer)">
    <mat-icon>menu</mat-icon>
  </button>
  <heading color="primary" routerLink="/home">Welcome to PressureLogic!</heading>
  <button mat-button routerLink="/request-quote" color="primary" class="request-button">Request a Quote</button>
</mat-toolbar>
<mat-sidenav-container class="example-container">

  <mat-sidenav #drawer mode="over" [autoFocus]="false" closed role="navigation">
    <mat-nav-list>
      <a class="menu-item-anchors" (click)="toggleSideNav(drawer)" mat-list-item routerLink='/about'>About</a>
      <a class="menu-item-anchors" (click)="toggleSideNav(drawer)" mat-list-item routerLink='/contact'>Contact</a>
      <a class="menu-item-anchors" (click)="toggleSideNav(drawer)" mat-list-item routerLink='/services'>Services</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar>
  <footer>
    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/jake.yusko"><mat-icon>facebook</mat-icon></a>
  </footer>
</mat-toolbar>