<mat-card>
    <mat-card-title>Services</mat-card-title>
    <mat-card-content>
        <p>Pressure Logic provides a wide range of professional pressure washing services and can meet almost any need of residential homeowners here in Northeast Ohio</p>
        <p>Check out our list of services below:</p>
        <ul>
            <li>House Wash - Our safe, low pressure, soft wash cleaning process utilizes our house wash solution that washes away dirt, algae, mildew and lichen and will leave your house looking its very best.</li>
            <li>Roof Cleaning - Wash away years of black streaks, moss, algae and lichen and have your roof looking like new with a treatment of our roof cleaning solution. We apply our roof cleaning solution using low-pressure in order to not damage the roofing material. This is an essential service in order to stop organic growth and preserve your roof for the future.</li>
            <li>Concrete Cleaning - Concrete driveways, walkways, patios and pool decks are cleaned utilizing a three-step cleaning process which washes away dirt and grime while eliminating algae and mildew at the source, leaving the concrete surface bright and fresh.</li>
        </ul>
        <button mat-button routerLink="/request-quote" color="primary" class="request-button">Request a quote today!</button>
    </mat-card-content>
</mat-card>